.title {
    font-size: 2.7em;
}

.card-title {
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    clear: both;
}

.drop-zone li {
    position: relative;
    float: left;
    list-style-type: none;
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(230, 230, 230);
    color: rgb(0, 0, 0);
    border-radius: 2px;
    padding: 4px 2px 2px 4px;
    margin: 0px 4px 4px 0px;
    font-size: 0.8em;
    font-family: sans-serif;
    min-width: 11em;
}

.drop-zone li:hover {
    background-color: #807e7e;
    border: 1px solid #807e7e;
    color: #FFF;
}

.moving * {
    color: #BBB;
    cursor: grab;
}

.drop-zone {
    padding: 2em 2em;
    display: inline-block;
    border: 1px solid rgb(236, 236, 236);
    min-width: 100%;
}

.drop-zone.over {
    background-color: rgb(247, 247, 247);
}

#zone1.drop-zone li {
    background-color: #ffdbb1;
    border: 1px solid #ffdbb1;
    color: rgb(0, 0, 0);
}

#zone2.drop-zone li {
    background-color: #ffad99;
    border: 1px solid #ffad99;
    color: rgb(0, 0, 0);
}

#zone3.drop-zone li {
    background-color: #abdbaf;
    border: 1px solid #abdbaf;
    color: rgb(0, 0, 0);
}