.title {
    font-size: 2.7em;
}

.card-title {
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    clear: both;
}

.drop-zone li {
    position: relative;
    float: left;
    list-style-type: none;
    background-color: #807e7e;
    border: 1px solid #807e7e;
    color: #FFF;
    border-radius: 2px;
    padding: 4px 2px 2px 4px;
    margin: 0px 4px 4px 0px;
    font-size: 0.8em;
    font-family: sans-serif;
    min-width: 11em;
}

.drop-zone li:hover {
    background-color: #ddd;
    border: 1px solid #ddd;
    color: rgb(0, 0, 0);
}

.moving * {
    color: #BBB;
    cursor: grab;
}

.drop-zone {
    padding: 2em 2em;
    display: inline-block;
    border: 1px solid rgb(236, 236, 236);
    min-width: 100%;
}

.drop-zone.over {
    background-color: rgb(245, 245, 245);
}

#zone1.drop-zone li {
    background-color: #ff9e2e;
    border: 1px solid #ff9e2e;
    color: #FFF;
}

#zone2.drop-zone li {
    background-color: #df5938;
    border: 1px solid #df5938;
    color: #FFF;
}

#zone3.drop-zone li {
    background-color: #32a860;
    border: 1px solid #32a860;
    color: #FFF;
}